:root {
    --navy: rgba(17, 17, 111, 0.805);
    --olive: rgba(128, 128, 0, 0.482);
    --welcome-gray: rgba(255, 255, 255, 0.634);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--olive);
    font-family: 'Cambria', Cochin, Georgia, sans-serif, serif;
}

header {
    color: var(--navy);
    font-size: 150%;
    padding: 1%;
    margin: 1%;
}

header h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 80%;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

header nav a {
    color: var(--navy);
    text-decoration: none;
    font-weight: bolder;
}

header nav a:hover {
    background-color: var(--welcome-gray);
    transition-duration: 0.4s;
}

.welcome {
    background-image: url("/assets/images/welcome\ cover.jpg");
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    color:var(--welcome-gray);
    font-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
}

.welcome h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-content: center;
}

button a{
    color:rgb(208, 210, 240);
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}

button {
    background-color: #245644bd;
    border: solid;
    color: var(--navy);
    padding: 1em 1em;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover {
    background-color: var(--navy);
  }

.button {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 1em;
}

.about h1, .projects h1, .contact h1 {
    font-size: 200%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.aboutme {
    background-color:bisque;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.aboutme .content {
    height: auto;
    display: inline-block;
    font-size: 80%;
    padding: 2%;
}

.aboutme img{
    display: inline-block;;
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.image-gallery > li {
    flex-basis: 240px;
    position: relative;
    cursor: pointer;
    height: auto;
}

.image-gallery .app1 {
    flex-basis: 480px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba (57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery li:hover .overlay {
    transform: scale(1.5);
}

span {
    background-color: var(--navy);
    color: #fff;
    font-size: medium;
    font-weight: 900;
    padding: 2em;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

.contact li a {
    text-decoration: none;
    color: var(--navy);
    font-weight: 900;
}

.contact ul {
    text-align: center;
    font-size: 150%;
    padding-bottom: 2%;
}

.contact li {
    padding-top: .5em;
    padding-bottom: .5em;
}

footer {
    padding: 1em;
    margin-top: 3em;;
    text-align: right;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

/* For when the screen becomes bigger than a mobile phone -- optimized for tablets */
@media screen and (min-width:480px) {
    header h1 {
        justify-content: flex-start;
    }
    header nav {
        justify-content: flex-end;
    }
    header {
        font-size: 250%;
    }
    .welcome {
        font-size: 200%;
    }
    .about h1, .projects h1, .contact h1 {
        font-size: 250%;
    }
    .aboutme .content {
        font-size: 100%;
    }
    .image-gallery > li {
        flex-basis: 240px;
        position: relative;
    }
    .image-gallery .app1 {
        flex-basis: 480px;
    }
}

/* For when the screen becomes bigger than a tablet --optimized for laptops */
@media screen and (min-width:768px) {
    header {
        font-size: 200%;
    }
    .welcome {
        font-size: 300%;
    }
    .about h1, .projects h1, .contact h1 {
        font-size: 300%;
    }
    .aboutme {
        margin-left: 2em;
        margin-right: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .aboutme .content {
        font-size: 80%;
        width: 40%;
    }

    .aboutme img {
        width: 40%;
        object-fit: contain;
        padding: 0;
        margin: 0;
    }

    .image-gallery > li {
        flex-basis: 340px;
        position: relative;
    }
    .image-gallery .app1 {
        flex-basis: 750px;
    }
    .contact ul {
        font-size: 140%;
}
}

@media screen and (min-width:1020px) {
    .aboutme .content {
        font-size: 90%;
        width: 40%;
    }
    .aboutme img {
        width: 40%;
        object-fit: contain;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/* Small screens/laptops */
/* Desktops */
/* Large screens, TVs, and bigger */